<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>
      {% include header.html %}
      <header class="clearfix">
        
        <!-- <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% for my_page in site.pages %}
              {% if my_page.title%}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
              <a class="italic no-underline h4" href="./assets/files/eric_li_resume.pdf">Resume</a>
            </li>
          </ul>
        </div> -->

        <div class="container mx-auto px-2 mt-3 mb-0 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
          <!-- <img src="./other/images/me1.png" alt = "headpic" align="right" width = "170" height = "170">  -->
          <div class="clearfix mb-4 py-1">
            <p class="h4 lh-condensed font-smoothing">
              <b>Carnegie Mellon University</b> (2018-2022)
            </p>
            <p class="h4 lh-condensed font-smoothing">
             Mathematics, Computer Science
            </p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>
			
      <div class="container mx-auto px-2 py-0">
        <p class="h4">
          I'm Eric, a mathematics student at Carnegie Mellon University. I expect to graduate in May 2022. I am looking for opportunities in software and quantitative analysis positions for Summer 2020 and during the school year.   
        </p>
      </div>
			

    </div>

    {% include footer.html %}

  </body>

</html>
