<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>
      {% include header.html %}
      <header class="clearfix">
        
        <div class="container mx-auto px-2 mt-3 mb-0 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
          <!-- <img src="./other/images/me1.png" alt = "headpic" align="right" width = "170" height = "170">  -->
          <div class="clearfix mb-4 py-1">
            <p class="h4 lh-condensed font-smoothing">
              <b>Carnegie Mellon University</b> (2018-2022)
            </p>
            <p class="h4 lh-condensed font-smoothing">
             Mathematics, Computer Science
            </p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>
			
      <div class="container mx-auto px-2 py-0">
        <p class="h4">
          I'm Eric, a Mathematics and Computer Science student at Carnegie Mellon University, expecting to graduate in May 2022. In my free time, I like to watch sports and making spotify playlists.
          I'm looking for summer positions in software engineering and quantitative devlopment, so feel free to email me if you want to
          chat!
           
        </p>
        <p class="h4">
          Currently, I'm the TA for 21-256 Multivariate Calculus. You can find my recitation notes in the 
          <a href="https://www.lieric.com/teaching/">teaching section of my website</a>, which will be posted after every recitation.
        </p>
        
      </div>
			

    </div>

    {% include footer.html %}

  </body>

</html>
